/* CSS for Table Layout */
/* .table-container {
    overflow-x: auto;
} */

.table-container {
    overflow-x: auto;
    background-color: rgba(253, 253, 161, 0.7); /* Semi-transparent white background */
    border-radius: 10px;
    padding: 10px;
}

@media print {
    #itemName, #itemRate, #addItemBtn, #clearList, #saveAndGeneratePDF {
        display: none;
    }
}

#itemList {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  #itemList th,
  #itemList td {
    padding: 10px;
    border: 1px solid #313030;
    text-align: left;
  }
  
  #itemList th {
    background-color: rgb(253, 253, 161, 0.9);
  }
  

.item-row:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.actions {
    text-align: right;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
    display: none;
}

.actions.show {
    max-height: 50px;
    display: block;
    /* Adjust as needed */
}

.actions button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Other Styles */
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
} */

body {
    font-family: 'Roboto', sans-serif; /* Example font from Google Fonts */
    margin: 0;
    padding: 0;
    background-image: url('vegi_background_a4.jpg');
}

/* .container {
    width: 210mm;
    height: 297mm;
    max-width: 100%; 
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}  */

.container {
    width: 210mm;
    height: auto;
    max-width: 100%;
    margin: 20px auto;
    background-image: url('vegi_background_a4.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Improved box shadow */
    text-align: center;
}


/* h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
} */

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff0101; /* White color for headings */
}

.form-container {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.form-container input {
    width: calc(15% - 5px);
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .form-container input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* CSS for Card Layout */
.item-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-header {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.card-content {
    padding: 10px;
}

.editButton,
.deleteButton {
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.editButton {
    background-color: #007bff;
    color: #fff;
}

.deleteButton {
    background-color: #dc3545;
    color: #fff;
}

#heading-span{
    font-size: 30px;
    color: #ff0101;
}